@media(max-width: 300px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .container{
        width:100%;
        display: flex;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        font-family: 'Calibri', sans-serif;
    }
    
    a p{
        width: 50%;
    }
}   