@media(max-width:900px){
    #projects{
        width: 86%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    
    .card_conteudopagina{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 15px;
        letter-spacing: 3px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -10px;
    }

    .voltar{
        margin-top: 40px;
        width: 6%;
        height: 6%;
        margin-left: 87%;
    }

    .home{
        color: pink;
        margin-left: 350px;
        text-decoration: none;
        font-size: 10px;
        margin-left: 87%;
        text-shadow: 0 0 3px pink, 0 0 7px pink, 
        0 0 15px pink, 0 0 15px pink;
    }

    /*JOGO DA MEMÓRIA*/

    .card_jogo{
        height: 100%;
        width: 100%;
        margin: 0rem;
    }

    .card_playing a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: left;
        margin-left: -120px;
        text-shadow: 0 0 3px white, 0 0 7px white, 0 0 15px white,
        0 0 15px white;
    }

    .card_playing a:hover{
        font-size: 15px;
    }

    .memory{
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 0px;
        margin-left: 5px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .card_textojogo{
        display: flex;
        flex-direction: row;
        width: 80%;
        font-size: 10px;
        margin-left: 0px;
        align-items: stretch;
    }

    /*EQUAÇÃO DO SEGUNDO GRAU*/

    .card_conteudopaginaDelta{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .card_delta{
        height: autopx;
        width: 100%;
        margin: 0rem;
    }

    .card_calcular a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: left;
        margin-right: 200px;
        text-shadow: 0 0 3px white, 0 0 7px white, 0 0 15px white,
        0 0 15px white;
    }

    .card_calcular a:hover{
        font-size: 15px;
    }

    .delta{
        margin-top: -100px;
        display: flex;
        width: 300px;
        height: 220px;
        border-radius: 0px;
        margin-left: 5px;
    }

    .card_textoDelta{
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        font-size: 10px;
        margin-top: -50px;
    }

    /*JOGO DA VELHA*/

    .card_playing_jdv a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: left;
        margin-left: -120px;
        text-shadow: 0 0 3px white, 0 0 7px white, 0 0 15px white,
        0 0 15px white;
    }

    .card_playing_jdv a:hover{
        font-size: 15px;
    }

    .jdv{
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 0px;
        margin-left: 5px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .card_textojogo{
        display: flex;
        flex-direction: row;
        width: 80%;
        font-size: 10px;
        margin-top: 20px;
    }   
}