img{
    width: 200px;
    height: 200px;
    border-radius: 200px 200px;
    align-items: center;
    animation: hover 4s ease-in-out normal;
}

.about{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 200px 200px;
    justify-content: flex-start;
    align-items: flex-start;
    animation: hover 4s ease-in-out normal;
}

.lp{
    display: flex;
    width: 400px;
    height: 400px;
    margin-left: 150px;
    border-radius: 200px 200px;
    justify-content:end;
    align-items: flex-end;
    animation: hover 4s ease-in-out normal;
}

.topo a img{
    width: 6%;
    height: 12%;
    margin-left: 1200px;
}

.topo a img:hover{
    width: 7%;
    height: 14%;
}

.topo1 a img{
    width: 5%;
    height: 10%;
    margin-left: 1300px;
}

.topo1 a img:hover{
    width: 6%;
    height: 12%;
}