h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 3px deepskyblue, 0 0 7px deepskyblue, 0 0 15px deepskyblue, 0 0 15px deepskyblue;
    animation: hover 5s ease-in-out normal;
}